@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Container styling */
.container {
    background: #171717;
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}
/* Header */
.weather_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Input */
input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}
/* Input Placeholder */
input::placeholder {
    color: #fff;
}
/* Weather Search */
.weather_search {
    position: relative;
}
.weather_search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff
}
.weather_units {
    font-size: 1.5rem;
}
.weather_units span {
    cursor: pointer;
}
.weather_units span:first-child {
    margin-right: 0.5rem;
}
/* Body Styling */
